// Google fonts
@font-face {
  font-family: "Oswald";
  src: url(/source/fonts/oswaldregular.woff) format(woff), url(/source/fonts/oswaldregular.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}

$title-font: 'Oswald', sans-serif;


