.programms {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  width: 100%;
}

/*programms__list {
  display: flex;
  width: 280px;
}*/

.programms__item {
  display: flex;
  flex-wrap: wrap;
  background-color: $basic_gray;
  width: 100%;
  margin-bottom: 20px;
}

.programms__header {
  margin: 0;
  padding-top: 30px;
  padding-left: 19px;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
}

.programms__text {
  margin: 0;
  padding-top: 29px;
  padding-left: 20px;
  width: 227px;
}

.programms__icon {
  display: block;
  margin-top: 21px;
  margin-left: 22px;
  width: 50px;
  height: 50px;
  background-color: $basic_green;
  border-radius: 50%;
}

.programms__icon--losing {
  position: relative;
}

.programms__icon--losing::before {
  content: url("../img/icon-cat-slim.svg");
  width: 36px;
  height: 50px;
}

.programms__link {
  margin-top: 38px;
  margin-bottom: 22px;
  font-family: $title-font;
  text-transform: uppercase;
  color: $color-text;
}
