.programs-header {
  font-family: $title-font;
  font-size: 36px;
  line-height: 38px;
  font-weight: normal;
}

.programs-header__title {
  margin: 0;
  font-family: $title-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
