.main-nav__toggle {
  display: none;
}

.main-nav a {
  color: $color-text;
  font-family: $title-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 480px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav a {
    font-size: 18px;
    line-height: 24px;
  }
}
